<div class="tp-shop-widget mb-50">
    <h3 class="tp-shop-widget-title">Popular Brands</h3>

    <div class="tp-shop-widget-content ">
        <div class="tp-shop-widget-brand-list d-flex align-items-center justify-content-between flex-wrap">
            <div class="tp-shop-widget-brand-item">
                <a target="_blank"  href="https://www.amd.com/en.html">
                    <img width="80" src="/img/product/shop/brand/logo_01.png" alt="">
                </a>
            </div>
            <div class="tp-shop-widget-brand-item">
                <a target="_blank" href="https://www.intel.com/content/www/us/en/homepage.html">
                    <img width="80" src="/img/product/shop/brand/logo_02.png" alt="">
                </a>
            </div>
            <div class="tp-shop-widget-brand-item">
                <a target="_blank" href="https://www.nvidia.com/en-us/">
                    <img width="80" src="/img/product/shop/brand/logo_03.png" alt="">
                </a>
            </div>
            <div class="tp-shop-widget-brand-item">
                <a target="_blank" href="https://www.asus.com/">
                    <img width="80" src="/img/product/shop/brand/logo_04.png" alt="">
                </a>
            </div>
            <div class="tp-shop-widget-brand-item">
                <a target="_blank" href="https://www.apple.com/">
                    <img width="80" src="/img/product/shop/brand/logo_05.png" alt="">
                </a>
            </div>
            <div class="tp-shop-widget-brand-item">
                <a target="_blank" href="https://www.samsung.com/us/">
                    <img width="80" src="/img/product/shop/brand/logo_06.png" alt="">
                </a>
            </div>
            <div class="tp-shop-widget-brand-item">
                <a target="_blank" href="https://www.sony.com/en/">
                    <img width="80" src="/img/product/shop/brand/logo_07.png" alt="">
                </a>
            </div>
            <div class="tp-shop-widget-brand-item">
                <a target="_blank" href="https://www.razer.com/eu-en">
                    <img width="80" src="/img/product/shop/brand/logo_08.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
