@using TechStoreApp.Models.Pages
@model ProductIndexPageViewModel

<partial name="_Breadcrumb" model="Model.Breadcrumb" />

<section class="tp-shop-area pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="tp-shop-sidebar mr-10">
                    <vc:price-filter query="Model.Query"></vc:price-filter>

                    <vc:category-filter></vc:category-filter>

                    <vc:top-product-filter></vc:top-product-filter>

                    <partial name="Index/_Brands" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="tp-shop-main-wrapper">
                    <vc:product-list query="Model.Query"></vc:product-list>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module" src="~/js/pages/products.js"></script>
