@model List<ProductItemViewModel>

<div class="tp-shop-widget mb-50">
    <h3 class="tp-shop-widget-title">Top Rated Products</h3>

    <div class="tp-shop-widget-content">
        <div class="tp-shop-widget-product">
            @foreach (var item in Model)
            {
                <div class="tp-shop-widget-product-item d-flex align-items-center">
                    <div class="tp-shop-widget-product-thumb">
                        <a href="product-details.html">
                            <img src="/img/product/shop/sm/shop-sm-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="tp-shop-widget-product-content">
                        <div class="tp-shop-widget-product-rating-wrapper d-flex align-items-center">
                            <vc:star-rating stars="@((int)Math.Round(item.AverageRating))" reviews="@item.ReviewsCount"></vc:star-rating>
                        </div>
                        <h4 class="tp-shop-widget-product-title">
                            <a href="product-details.html">@item.Name</a>
                        </h4>
                        <div class="tp-shop-widget-product-price-wrapper">
                            <span class="tp-shop-widget-product-price">@item.Price</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
