@model HomeCategoryItemViewModel

<div class="col">
    <div class="tp-product-category-item text-center mb-40">
        <div class="tp-product-category-thumb fix">
            <a href="shop-category.html">
                <img src="img/product/category/product-cat-1.png" alt="product-category">
            </a>
        </div>
        <div class="tp-product-category-content">
            <h3 class="tp-product-category-title">
                <a href="@($"/categories/{Model.CategoryId}")">@Model.Name</a>
            </h3>
            <p>@Model.Count Products</p>
        </div>
    </div>
</div>
