@using TechStoreApp.Core.Models.Params
@model OrderParams

<section class="tp-checkout-area pb-120" data-bg-color="#EFF1F5">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-lg-7 mt-100">
                    <div class="tp-checkout-bill-area">
                        <h3 class="tp-checkout-bill-title">Billing Details</h3>

                        <div class="tp-checkout-bill-form">
                            <div class="tp-checkout-bill-inner">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="tp-checkout-input">
                                            <label>First Name <span>*</span></label>
                                            <input asp-for="FirstName" type="text" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="tp-checkout-input">
                                            <label>Last Name <span>*</span></label>
                                            <input asp-for="LastName" type="text" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="tp-checkout-input">
                                            <label>Company name (optional)</label>
                                            <input asp-for="CompanyName" type="text" placeholder="Example LTD.">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="tp-checkout-input">
                                            <label>Country</label>
                                            <input asp-for="Country" type="text" placeholder="United States (US)">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="tp-checkout-input">
                                            <label>City</label>
                                            <input asp-for="City" type="text" placeholder="Kansas City">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="tp-checkout-input">
                                            <label>Address</label>
                                            <input asp-for="Address" type="text" placeholder="House number and street name">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="tp-checkout-input">
                                            <label>Phone <span>*</span></label>
                                            <input asp-for="Phone" type="text" placeholder="Phone number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="tp-checkout-input">
                                            <label>Order notes (optional)</label>
                                            <textarea asp-for="OrderNotes" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mt-100">
                    <!-- checkout place order -->
                    <div class="tp-checkout-place white-bg">
                        <h3 class="tp-checkout-place-title">Your Order</h3>
                        <vc:checkout-order-info></vc:checkout-order-info>
                        <div class="tp-checkout-btn-wrapper">
                            <button type="submit" class="tp-checkout-btn w-100">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
