@using TechStoreApp.Components.ProductDetails
@model ProductDetailsViewModel

<section class="tp-product-details-area">
    <vc:product-details-top model="@Model.TopViewModel"></vc:product-details-top>
    <vc:product-details-bottom model="@Model.BottomViewModel"></vc:product-details-bottom>
</section>
