@using TechStoreApp.Components.ProductDetails
@model ProductDetailsViewModel

<section class="tp-product-details-area">
    <partial name="Details/_ProductDetailsTop" model="@Model.TopViewModel" />
    <partial name="Details/_ProductDetailsBottom" model="@Model.BottomViewModel" />
</section>

<script type="module" src="~/js/pages/product-details.js"></script>
