@using TechStoreApp.Common
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-5 mb-5">Privacy Policy</h1>
            <p>The privacy policy for Tech Store outlines how the website collects, uses, and protects the personal information of its users.</p>
            <h3>Information Collection and Use</h3>
            <p>Tech Store collects personal information when you register with us or place an order for our products. We may also collect information when you voluntarily provide feedback or participate in surveys. The information collected may include your name, email address, mailing address, phone number, and payment information. We use this information to fulfill your orders, communicate with you, and improve our services.</p>
            <h3>Security</h3>
            <p>We are committed to ensuring that your information is secure. We have implemented suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>
            <h3>Disclosure of Personal Information</h3>
            <p>We may disclose your personal information to third-party service providers who assist us in operating our website, conducting our business, or servicing you. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.</p>
            <h3>Cookies</h3>
            <p>Tech Store uses cookies to enhance your browsing experience. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information.</p>
            <h3>Changes to Privacy Policy</h3>
            <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p>
            <h3>Contact Us</h3>
            <p>If you have any questions or concerns about our privacy policy, please contact us:</p>
            <p>Email: @UIConstants.SupportEmail</p>
            <p>Phone: @UIConstants.TelephoneNumberDisplayed</p>
        </div>
    </div>
</div>
