<section class="profile__area pt-120 pb-120">
    <div class="container">
        <div class="profile__inner p-relative">
            <div class="profile__shape">
                <img class="profile__shape-1" src="~/img/login/laptop.png" alt="">
                <img class="profile__shape-2" src="~/img/login/man.png" alt="">
                <img class="profile__shape-3" src="~/img/login/shape-1.png" alt="">
                <img class="profile__shape-4" src="~/img/login/shape-2.png" alt="">
                <img class="profile__shape-5" src="~/img/login/shape-3.png" alt="">
                <img class="profile__shape-6" src="~/img/login/shape-4.png" alt="">
            </div>
            <div class="row">
                <div class="col-xxl-4 col-lg-4">
                    <div class="profile__tab mr-40">
                        <nav>
                            <div class="nav nav-tabs tp-tab-menu flex-column" id="profile-tab" role="tablist">
                                <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><span><i class="fa-regular fa-user-pen"></i></span>Profile</button>
                                @* <button class="nav-link" id="nav-order-tab" data-bs-toggle="tab" data-bs-target="#nav-order" type="button" role="tab" aria-controls="nav-order" aria-selected="false"><span><i class="fa-light fa-clipboard-list-check"></i></span> My Orders </button> *@
                                <span id="marker-vertical" class="tp-tab-line d-none d-sm-inline-block"></span>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-xxl-8 col-lg-8">
                    <div class="profile__tab-content">
                        <div class="tab-content" id="profile-tabContent">
                            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="profile__main">
                                    <div class="profile__main-top pb-80">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                                <div class="profile__main-inner d-flex flex-wrap align-items-center">
                                                    <div class="profile__main-thumb">
                                                        <img src="~/img/profile-default.png" alt="">
                                                    </div>
                                                    <div class="profile__main-content">
                                                        <h4 class="profile__main-title">Welcome @User?.Identity?.Name!</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="profile__main-logout text-sm-end">
                                                    <a asp-action="Logout"
                                                       asp-controller="Account"
                                                       asp-route-returnUrl="/Home"
                                                       class="tp-logout-btn">

                                                        Logout
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile__main-info">
                                        <div class="row gx-3">
                                            
                                            <div class="col-md-6 col-sm-6">
                                                <a href="/wishlist">
                                                    <div class="profile__main-info-item">
                                                        <h4 class="profile__main-info-title">Wishlist</h4>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <a href="/cart">
                                                    <div class="profile__main-info-item">
                                                        <h4 class="profile__main-info-title">Cart</h4>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
                                <div class="profile__ticket table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Order Id</th>
                                                <th scope="col">Product Title</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row"> #2245</th>
                                                <td data-info="title">How can i share ?</td>
                                                <td data-info="status pending">Pending </td>
                                                <td><a href="#" class="tp-logout-btn">Invoice</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"> #2220</th>
                                                <td data-info="title">Send money, but not working</td>
                                                <td data-info="status reply">Need your replay</td>
                                                <td><a href="#" class="tp-logout-btn">Reply</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"> #2125</th>
                                                <td data-info="title">Balance error</td>
                                                <td data-info="status done">Resolved</td>
                                                <td><a href="#" class="tp-logout-btn">Invoice</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"> #2124</th>
                                                <td data-info="title">How to decline bid</td>
                                                <td data-info="status hold">On Hold</td>
                                                <td><a href="#" class="tp-logout-btn">Status</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"> #2121</th>
                                                <td data-info="title">How to contact</td>
                                                <td data-info="status done">Resolved</td>
                                                <td><a href="#" class="tp-logout-btn">Invoice</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
