@model HomeCategoryItemViewModel

<div class="col">
    <div class="tp-product-category-item text-center mb-40">
        <div class="tp-product-category-thumb fix">
            <a href="shop-category.html">
                <img style="clip-path:circle();max-width:80%;object-fit:contain" src="@Model.ImageUrl" alt="product-category">
            </a>
        </div>
        <div class="tp-product-category-content">
            <h3 class="tp-product-category-title">
                <a href="@($"/categories/{Model.Slug}")">@Model.Name</a>
            </h3>
            <p>@Model.Count Products</p>
        </div>
    </div>
</div>
