@model HomeFeatureItemViewModel

<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="tp-feature-item d-flex align-items-start">
        <div class="tp-feature-icon mr-15">
            <span>
                <img width="31" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Icons8_flat_checkmark.svg/480px-Icons8_flat_checkmark.svg.png" />
            </span>
        </div>
        <div class="tp-feature-content">
            <h3 class="tp-feature-title">@Model.Text</h3>
            <p>
                @Model.Title
            </p>
        </div>
    </div>
</div>
